.container{
  width: 50%;
  background-color: #ffb4a2;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  gap: 30px;
  margin-top: 50px;
  border-radius: 10px;
  padding: 20px;
}
